###> symfony/framework-bundle ###
/public/bundles
/var
/vendor

###> JS ###
/node_modules

###> phpstorm ###
.idea/

### Tests ###
/build
/results
.phpcs-cache
.phplint-cache
.phpunit.result.cache

### Env ###
.env.local
