###> symfony/framework-bundle ###
/public/bundles
/var
/vendor

###> symfony/web-server-bundle ###
/.web-server-pid

###> phpstorm ###
.idea/

### Code coverage ###
build

###> PHPCS ###
.phpcs-cache

### PHP Lint ###
.phplint-cache

### PHP Unit ###
.phpunit.result.cache

### Postman ###
results

### Env ###
.env.local
